<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
<img src="/images/logo-mercado-liebre.svg" alt="">
<br>
<h3>Lugar para poner barra de búsqueda</h3>
<br>
<h3>Comprá en cuotas y sin tarjeta de crédito</h3>
<br>
<nav>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
<br>
    <ul>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
    </ul>

</nav>
</header>   

<main>
<img src="/images/img-home-banner.jpg" alt="">
<br>
<h2>Basado en tu última visita</h2>
<br>
<img src="/images/img-cafetera-moulinex.jpg" alt="">
<p>$6.770</p>
<p>40% OFF</p>
<h4>Cafetera Moulinex</h4>

<img src="/images/img-macbook-pro-2019.jpg" alt="">
<p>$230.000</p>
<p>20% OFF</p>
<h4>MacBook Pro 2019</h4>

<img src="/images/img-samsung-galaxy-s10.jpg" alt="">
<p>$70.500</p>
<p>10% OFF</p>
<h4>Samsung Galaxy S10</h4>   

<img src="images/img-tv-samsung-smart.jpg" alt="">
<p>$23.200</p>
<p>5% OFF</p>
<h4>SmartTv Samsung 43"</h4> 
  
<br>
<h2>Sección de ofertas</h2>

<br>
<img src="/images/img-cafetera-moulinex.jpg" alt="">
<p>$6.770</p>
<p>40% OFF</p>
<h4>Cafetera Moulinex</h4>

<img src="/images/img-macbook-pro-2019.jpg" alt="">
<p>$230.000</p>
<p>20% OFF</p>
<h4>MacBook Pro 2019</h4>

<img src="/images/img-samsung-galaxy-s10.jpg" alt="">
<p>$70.500</p>
<p>10% OFF</p>
<h4>Samsung Galaxy S10</h4>   

<img src="images/img-tv-samsung-smart.jpg" alt="">
<p>$23.200</p>
<p>5% OFF</p>
<h4>SmartTv Samsung 43"</h4> 

</main>

<footer>
<br>
<h3>Pagá con tarjeta o en efectivo</h3>
<p>Con Mercado Liebre Cash, tenés cuotas sin</p> 
<p>interés con tarjeta o efectivo en puntos de</p> 
<p>pago. ¡Y siempre es seguro!</p>

<br>

<h3>Envío gratis desde $ 2.500</h3>
<p>Solo por estar registrad@ en Mercado Liebre</p> 
<p>tenés envíos gratis en miles de productos. Es</p>
<p>un beneficio de Mercado Puntos.</p>

<br>

<h3>Seguridad, de principio a fin</h3>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
<p>no hay nada que no puedas hacer, porque estás</p>
<p>siempre protegid@.</p>

<br>

<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>

</body>
</html>