*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }

.contenedor-inicial{
    display: flex;
}
.contenedor-inicial-2{
    display: flex;
}

.logo-ml{
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:  #ebebeb;
}

header {
    background-color: #EAC926;
}

h3 {
    text-align: center;
    font-size: 12px;
    padding-right: 20px;
    padding-top: 20px;
}
a {
    margin: 3px;
}

.header-nav {
    font-size: 12px;
}

.nav-options {
    display: block;
    padding: 0;
}

h2 {
    font-size: 24px;
    color: #666;
    text-align: center;
}

h4 {
    margin-top: 10px;
    margin-bottom: 20px;

}

p {
    font-size: 12px;
    margin-bottom: 12px;
}

.search-bar {
    margin-left: 10px;
    width: 50%;
    padding-top: 20px;
    padding-right: 10px; 
}

.burger-menu {
    display: block;
    background-color: #1259c3;;
    color: #FFFFFF;
    font-size: 25px;
    padding: 5px;
    max-width: 35px;
    border-radius: 20%;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.banner{
    display: block;
    width: 100vw;
}




.contenedor-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.caja-grande-prod{
    width: 296px;
    margin-bottom: 20px;
}



.caja-interna-prod{
    border-top: 1px solid #ebebeb;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    width: auto;
}

.fotos-prod{
    border-style: none;
    width: 100%;
    height: auto;
}


.footer-icons {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 50px;
}

.precio {
    font-size: 18px;
    margin: 0;
    }

.truck-icon {
    color: #39b54a;
    font-size: 15px;
    padding-left: 4px;
    padding-bottom: 10px;
    
}
.descuento {
    font-size: 16px;
    color: #39b54a;
    margin: 0;
    }
    
.descripcion {
    font-size: 16px;
    color: #666;
    padding-top: 10px;
    padding-bottom: 15px;
    }
    

.footer-bloque {
    text-align: center;
    line-height: 6px;
}

@media (max-width: 361px) {
    .header-nav{
        display: none;
    }    
    .descripcion{
        display: none;
    }
    .search-icon{
        display: none;
    }
    .contenedor-inicial{
        display: block;
    }
}

@media (min-width: 361px){
    .burger-menu{
        display: none;
    }
    .caja-grande-prod{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .nav-options{
        display: flex;

    }
    
    .header-nav{
        display: flex;
        justify-content: space-around;
    }




}


